<div class="header d-flex justify-content-center p-4">
  <h2>Booking</h2>
</div>

<%= @place.name %>
<%= @place.price_day %>
<%= @booking.total_price %>
<%= cl_image_tag @place.photo.key, height: 300, width: 400, crop: :fill if @place.photo.key %>
