<%# cards %>
<div class="container">
<div class="row">
  <% @random_3 = @places.limit(3)%>
    <% @random_3.each do |place| %>
    <div class="col-4">
      <div id="cards">
        <div id="container">
          <div class="product-details">
            <h1><%=place.name%></h1>
            <div class="control">
              <button class="btn">
                <span class="price"><%=place.price_day%></span><br>
                <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <span class="buy">Get now</span>
              </button>
            </div>
          </div>
          <div class="product-image">
            <img src="https://wallpaper.dog/large/17066191.jpg" alt="Hogwarts">
            <div class="info">
              <h2> Description</h2>
              <%=place.description%>
              <h4> Type: <%=place.place_type%></h4>
            </div>
          </div>
        </div>
      </div>
  </div>
    <% end %>

  </div>
</div>
