<%# places I am listing %>
<div style="margin-top: 100px">
<h2>Dashboard</h2>

<%= current_user.first_name %>



<% current_user.places.each do |place| %>
  <%= place.name %>

  <h3>My bookings:</h3>
  <% if place.bookings.empty? %>
    <p>No pending bookings</p>
  <% else %>
    <% place.bookings.each do |booking| %>
      <%= booking.startdate %>
    <% end %>
  <% end %>
<% end %>

<%# places I am trying to book %>
<% current_user.bookings.each do |booking| %>
  <%= booking.place.name %>
<% end %>
</div>
