.form-buttons {

  display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.signup_btn {
  margin-top: 5px;
  padding: 10px;
  color: white
}

.form-actions a {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  color: black;
}

.btn-primary {
border: none;
background: rgb(154, 126, 102) !important;
}
