.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
	box-shadow: 0 1px 1px 0 grey;
}

.navbar-lewagon {
  justify-content: space-between;
  background: rgba(250, 238, 227, 1);
  box-shadow: 0 1px 1px 0 rgb(225, 191, 139);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.dropdown-toggle {
  border-radius: 50%;
}
